* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    overflow-y: auto; /* Enable vertical scrolling */
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1000px;
    overflow: hidden;
    margin: 40px 0; 
}


header {
    background-color: #2d264b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.candidate-listing {
    padding: 20px;
}

.candidate {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.candidate-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.candidate-username {
    font-weight: bold;
    color: #2d264b;
    font-size: 1.2em;
}

.status-icon {
    color: limegreen;
    font-size: 1.2em;
}

.toggle-button {
    background: none;
    border: none;
    color: #2d264b;
    font-size: 1.5em;
    cursor: pointer;
}

.candidate-details {
    display: none;
    background-color: #2d264b;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.expanded {
    display: flex;
    flex-direction: column;
}

.candidate-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.resume-icon {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.resume-icon span {
    font-size: 2em;
    margin-right: 5px;
}

.user-name,
.user-email,
.status {
    margin: 0;
}

.candidate-scores {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.score {
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overall {
    border-color: limegreen;
}

.confidence {
    border-color: orange;
}

.problem-solving {
    border-color: limegreen;
}

.communication {
    border-color: red;
}

.candidate-about {
    margin-bottom: 20px;
}

.schedule-button {
    background-color: #00ccff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

.schedule-button:hover {
    background-color: #00a3cc;
}